body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #EFE2BA;
    text-align: center;
}

header {
    padding: 10px 0px 10px 0px;
    background-color: #C5CBE3;
    font-weight: bold;
}

header div {
    margin-top: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

header div label {
    margin-right: 10px;
}

#min {
    margin-right: 10px;
}

header div span {
    margin-left: 10px;
}

.min-max input {
    width: 60px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 25px;
    background: #F13C20;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4056A1;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

button {
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    color: #FFFFFF;
    background-color: #F13C20;
    transition: all 0.2s;
}

button:hover {
    background-color:rgb(255, 0, 0);
    cursor: pointer;
}

main {
    padding: 10px 0px 10px 0px;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

main .box {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100px;
    background-color: #C5CBE3;
}

main .box:hover {
    opacity: 0.7;
}

main .fizzbuzz {
    background-color: #F13C20;
    font-weight: bold;
}

main .fizz {
    background-color: #D79922;
    font-weight: bold;
}

main .buzz {
    background-color: #4056A1;
    font-weight: bold;
}