/* Setting  global box sizing property */
html {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Containers */
body {
    background: #ececec;
}

.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
    overflow: auto;
    background: #ffffff;
}

.small-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.text-container {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    line-height: 1.5;
}

/* Header text */
header>h1 {
    margin: 20px 0px -50px 0px;
    font-weight: bold;
    color: #df1b21;
}

/* Header navigation buttons */
nav {
    margin: 20px 0px 40px 0px;
}

nav a {
    background: #df1b21;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

/* Main Content */
main h2 {
    background: #df1b21;
    color: #ffffff;
    margin: 20px 0px 20px 0px;
    padding: 10px;
}

main h3 {
    color: #df1b21;
    margin: 0px 0px 20px 0px;
    padding: 10px;
}

main img {
    height: 150px;
}

main p {
    text-align: justify;
    line-height: 1.5;
}

main p a {
    color: #df1b21;
    text-decoration: none;
    font-weight: bold;
}

#race-cup {
    height: 80px;
}

/* Footer content */
footer {
    margin: 40px 0px 0px 0px;
    padding: 5px 0px 10px 5px;
    background: #df1b21;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* Text */
.bold-text {
    font-weight: bold;
}

.red-text {
    color: #df1b21;
}

.small-text {
    font-size: 14px;
}